@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}

:root {
    --color-primary: #314357;
    --color-secondary: #456672;
    --color-accent: #e3b587;
    --color-cta: #c98c70;
    --color-bg: #edeee2;
}

Body {
    background-color: #edeee2;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}