.container {
	width: 100%;
	margin: 0rem auto;
	display: flex;
	flex-direction: column;
	color: var(--color-primary);

	.header {
		padding: 1rem;
		text-align: center;
	}

	.auth {
		width: 100%;
	}
	.tabs {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 0.5em;
		.tab {
			padding: 0.5em 1.5em;
			cursor: pointer;
			user-select: none;
			transition: background-color 0.5s, color 0.5s, border-color 0.5s;

			&:not(:last-child) {
				margin-right: 1em;
			}

			&.active {
				color: var(--color-bg);
				background-color: var(--color-accent);
			}

			&:hover {
				border-radius: 0.6em;
				background-color: var(--color-accent);
			}

			&:active {
				background-color: var(--color-cta);
			}
		}
	}
	.auth {
		flex: 1;
	}
	.footer {
		width: 100%;
		background-color: var(--color-primary);
		color: var(--color-bg);

		.footer-container {
			max-width: 1440px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 2rem;
			margin: auto;
			gap: 4rem;
			.left,
			.center,
			.right {
				font-size: small;
			}

			.center {
				width: 50%;
				@media (max-width: 525px) {
					font-size: xx-small;
				}
			}

			.right {
				display: flex;
				justify-content: center;
				align-items: center;
				list-style: none;
				padding: 0;
				margin: 0;
				gap: 1rem;
				font-size: 0.8rem;

				@media (max-width: 525px) {
					font-size: xx-small;
				}

				.social {
					display: flex;
					justify-content: center;
					align-items: center;

					li {
						display: flex;
						justify-content: space-between;
						align-items: center;
						width: 5rem;

						svg {
							display: flex;
							justify-content: start;
							width: fit-content;
						}

						a {
							width: 3rem;
							color: var(--color-bg);
							text-decoration: none;

							&:hover {
								text-decoration: underline;
							}
						}
					}
					@media (max-width: 525px) {
						flex-direction: column;
						li {
							margin-bottom: 0.4rem;
						}
					}
				}
				.made {
					display: flex;
					justify-content: space-evenly;
					align-items: center;
					gap: 0.6rem;
					svg {
						color: rgb(206, 51, 51);
					}
					@media (max-width: 525px) {
						flex-direction: column;
					}
				}

				@media (max-width: 525px) {
					flex-direction: column-reverse;
					gap: 1rem;
				}
			}
		}
	}
}
