.container {
  width: 100%;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
}
.container .header {
  padding: 1rem;
  text-align: center;
}
.container .auth {
  width: 100%;
}
.container .tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}
.container .tabs .tab {
  padding: 0.5em 1.5em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}
.container .tabs .tab:not(:last-child) {
  margin-right: 1em;
}
.container .tabs .tab.active {
  color: var(--color-bg);
  background-color: var(--color-accent);
}
.container .tabs .tab:hover {
  border-radius: 0.6em;
  background-color: var(--color-accent);
}
.container .tabs .tab:active {
  background-color: var(--color-cta);
}
.container .auth {
  flex: 1;
}
.container .footer {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-bg);
}
.container .footer .footer-container {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: auto;
  gap: 4rem;
}
.container .footer .footer-container .left,
.container .footer .footer-container .center,
.container .footer .footer-container .right {
  font-size: small;
}
.container .footer .footer-container .center {
  width: 50%;
}
@media (max-width: 525px) {
  .container .footer .footer-container .center {
    font-size: xx-small;
  }
}
.container .footer .footer-container .right {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
  font-size: 0.8rem;
}
@media (max-width: 525px) {
  .container .footer .footer-container .right {
    font-size: xx-small;
  }
}
.container .footer .footer-container .right .social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .footer .footer-container .right .social li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
}
.container .footer .footer-container .right .social li svg {
  display: flex;
  justify-content: start;
  width: -moz-fit-content;
  width: fit-content;
}
.container .footer .footer-container .right .social li a {
  width: 3rem;
  color: var(--color-bg);
  text-decoration: none;
}
.container .footer .footer-container .right .social li a:hover {
  text-decoration: underline;
}
@media (max-width: 525px) {
  .container .footer .footer-container .right .social {
    flex-direction: column;
  }
  .container .footer .footer-container .right .social li {
    margin-bottom: 0.4rem;
  }
}
.container .footer .footer-container .right .made {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.6rem;
}
.container .footer .footer-container .right .made svg {
  color: rgb(206, 51, 51);
}
@media (max-width: 525px) {
  .container .footer .footer-container .right .made {
    flex-direction: column;
  }
}
@media (max-width: 525px) {
  .container .footer .footer-container .right {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}/*# sourceMappingURL=LandingPage.css.map */