.login-form {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	background-color: var(--color-bg);
	border-radius: 4px;

	.form-group {
		margin-bottom: 20px;

		label {
			display: block;
			margin-bottom: 5px;
			font-weight: bold;
			color: var(--color-primary);
		}

		input {
			width: 100%;
			padding: 10px;
			border: 1px solid var(--color-secondary);
			border-radius: 4px;
		}
	}

	.login-button {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}

	button[type='submit'] {
		display: block;
		width: 100%;
		padding: 10px;
		background-color: var(--color-cta);
		color: white;
		border: none;
		cursor: pointer;
		transition: background-color 0.5s, color 0.5s;
		
		&.active {
			color: var(--color-bg);
			background-color: var(--color-accent);
		}

		&:hover {
			border-radius: 0.6em;
			background-color: var(--color-accent);
		}

		&:active {
			background-color: var(--color-cta);
		}
	}
}
