.badge {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.2rem;
	width: fit-content;
	padding: 0.2rem;
    font-size: small;
    border-radius: 2rem;
	background-color: var(--color-secondary);
    color: var(--color-bg);
	&:hover {
		cursor: pointer;
		opacity: 0.85;
		background-color: var(--color-accent);
	}
	&:focus {
		background-color: var(--color-cta);
	}
}
