.signup-form {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	background-color: var(--color-bg);
	border-radius: 4px;

	.form-group {
		margin-bottom: 20px;

		label {
			display: block;
			margin-bottom: 5px;
			font-weight: bold;
			color: var(--color-primary);
		}

		input[type='text'],
		input[type='email'],
		input[type='password'] {
			width: 100%;
			padding: 10px;
			border: 1px solid var(--color-secondary);
			border-radius: 4px;
		}
	}

	.pfp-input {
		label {
			display: flex;
			justify-content: space-between;
			align-items: center;
			input{
				display: none;
			}
			.pfp-image {
				height: 4rem;
				border-radius: 50%;
				width: 4rem;
			}
		}
	}

	button[type='submit'] {
		display: block;
		width: 100%;
		padding: 10px;
		background-color: var(--color-cta);
		color: #fff;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}
}
