.current-chat-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	.current-chat {
		display: grid;
		grid-template-rows: auto 1fr;
		width: 95%;
		height: 95%;
		color: var(--color-bg);
		.chat-header {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.button-arrow {
				padding: 1rem;
			}
		}
		.chat-space {
			display: grid;
			grid-template-rows: 1fr auto;
			color: var(--color-bg);
			form {
				.chat-bubble {
					padding: 16px 28px;
					-webkit-border-radius: 20px;
					-webkit-border-bottom-left-radius: 2px;
					-moz-border-radius: 20px;
					-moz-border-radius-bottomleft: 2px;
					border-radius: 20px;
					border-bottom-left-radius: 2px;
					display: inline-block;
				}
				.typing {
					align-items: center;
					display: flex;
					height: 17px;
				}
				.typing .dot {
					animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
					border-radius: 50%;
					height: 7px;
					margin-right: 4px;
					vertical-align: middle;
					width: 7px;
					display: inline-block;
				}
				.typing .dot:nth-child(1) {
					animation-delay: 200ms;
				}
				.typing .dot:nth-child(2) {
					animation-delay: 300ms;
				}
				.typing .dot:nth-child(3) {
					animation-delay: 400ms;
				}
				.typing .dot:last-child {
					margin-right: 0;
				}

				@keyframes mercuryTypingAnimation {
					0% {
						transform: translateY(0px);
						background-color: var(--color-cta); // rgba(20,105,69,.7);
					}
					28% {
						transform: translateY(-7px);
						background-color: var(--color-accent); //rgba(20,105,69,.4);
					}
					44% {
						transform: translateY(0px);
						background-color: #b5d9cb; //rgba(20,105,69,.2);
					}
				}
				input {
					border: none;
					outline: none;
					padding: 10px;
					width: 100%;
					font-size: 16px;
					border-radius: 5px;
					box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
					transition: box-shadow 0.3s ease;
				}

				/* Styling for when the input is focused */
				input:focus {
					box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
				}

				/* Styling for a disabled input */
				input:disabled {
					background-color: #f0f0f0;
					cursor: not-allowed;
				}
			}
		}
	}
	.no-chat {
		width: 100%;
		height: 100%; /* Set the height to 100% of the viewport height */
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--color-bg);
		font-size: 3vw; /* Use responsive font size (3% of the viewport width) */
		position: relative;
		.shimmer {
			top:50%;
			left:25%;
			width: fit-content;
			height: fit-content;
			font-family: 'Lato', sans-serif;
			font-weight: 300;
			margin: 0 auto;
			margin-bottom: 0;
			text-align: center;
			color: rgba(255, 255, 255, 0.1);
			background: linear-gradient(
				to right,
				#222 0%,
				#fff 50%,
				#222 100%
			); /* Use linear gradient for the shimmer effect */
			-webkit-background-clip: text;
			background-clip: text;
			animation: shimmer 10s infinite reverse; /* Simplify the animation property */
			-webkit-background-size: 125px 100%;
			-moz-background-size: 125px 100%;
			background-size: 125px 100%;
		}

		@keyframes shimmer {
			0% {
				background-position: -100% 0;
			}
			100% {
				background-position: 200% 0;
			}
		}
		
	}
}
