.current-chat-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.current-chat-container .current-chat {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 95%;
  height: 95%;
  color: var(--color-bg);
}
.current-chat-container .current-chat .chat-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.current-chat-container .current-chat .chat-header .button-arrow {
  padding: 1rem;
}
.current-chat-container .current-chat .chat-space {
  display: grid;
  grid-template-rows: 1fr auto;
  color: var(--color-bg);
}
.current-chat-container .current-chat .chat-space form {
  /* Styling for when the input is focused */
  /* Styling for a disabled input */
}
.current-chat-container .current-chat .chat-space form .chat-bubble {
  padding: 16px 28px;
  -webkit-border-radius: 20px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius: 20px;
  -moz-border-radius-bottomleft: 2px;
  border-radius: 20px;
  border-bottom-left-radius: 2px;
  display: inline-block;
}
.current-chat-container .current-chat .chat-space form .typing {
  align-items: center;
  display: flex;
  height: 17px;
}
.current-chat-container .current-chat .chat-space form .typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}
.current-chat-container .current-chat .chat-space form .typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.current-chat-container .current-chat .chat-space form .typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.current-chat-container .current-chat .chat-space form .typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.current-chat-container .current-chat .chat-space form .typing .dot:last-child {
  margin-right: 0;
}
@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color: var(--color-cta);
  }
  28% {
    transform: translateY(-7px);
    background-color: var(--color-accent);
  }
  44% {
    transform: translateY(0px);
    background-color: #b5d9cb;
  }
}
.current-chat-container .current-chat .chat-space form input {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.current-chat-container .current-chat .chat-space form input:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.current-chat-container .current-chat .chat-space form input:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}
.current-chat-container .no-chat {
  width: 100%;
  height: 100%; /* Set the height to 100% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-bg);
  font-size: 3vw; /* Use responsive font size (3% of the viewport width) */
  position: relative;
}
.current-chat-container .no-chat .shimmer {
  top: 50%;
  left: 25%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin: 0 auto;
  margin-bottom: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  background: linear-gradient(to right, #222 0%, #fff 50%, #222 100%); /* Use linear gradient for the shimmer effect */
  -webkit-background-clip: text;
  background-clip: text;
  animation: shimmer 10s infinite reverse; /* Simplify the animation property */
  background-size: 125px 100%;
}
@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 200% 0;
  }
}/*# sourceMappingURL=CurrentChat.css.map */