.chat-container {
	width: 100vw;
	display: grid;
	grid-template-rows: auto 1fr;
	.body {
		display: none;
		width: 100vw;
		display: grid;
		grid-template-columns: 1fr 3fr;

		.my-chats-box {
			background-color: var(--color-primary);
			width: 100%;
			height: 100%;
		}

		@media screen and (max-width: 768px) {
			grid-template-columns: 2fr 3fr;
		}

		@media screen and (max-width: 768px) {
			grid-template-columns: 1fr;
			.my-small-chats-box {
				display: none;
			}
			.my-small-chats-body {
				display: none;
			}
		}
	}
}
