.chat-container {
	display: grid;
	grid-template-rows: auto 1fr;
	.body {
		width: 100vw;
		display: grid;
		grid-template-columns: 1fr 3fr;
		@media screen and (max-width: 768px) {
			grid-template-columns: 2fr 3fr;
		}
	}
}
